<div class="container">
  <%= form_for @user, url: "/profile_update/#{@user.id}", method: :patch do |f| %>
  <div class="row align-items-center justify-content-center">
    <aside class="col-md-7">
        <% if @user.profile_picture? %>
          <%= image_tag (@user.profile_picture.url), class: 'profile_edit_img' %>
        <% else %>
          <%= image_tag "/assets/default.jpg", :size => '250x250' %>
        <% end %>
      <button type="button" class="btn btn-outline-secondary rounded-pill">
        <%= f.file_field :profile_picture, accept: 'image/jpeg,image/gif,image/png' %>
      </button>
    </aside>
  </div>
  <div class="row align-items-center justify-content-center">
    <aside class="col-md-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name,
                          autofocus: true,
                          autocomplete: 'name',
                          class: 'form-control',
                          required: true,
                          maxlength: '20'%><br />
      </div>

      <div class="form-group">
        <%= f.label "自己紹介" %><br />
        <%= f.text_field :introduction,
                          autofocus: true,
                          autocomplete: 'name',
                          class: 'form-control',
                          required: true,
                          maxlength: '255' %>
      </div>

      <div class="form-group"><br />
        <%= f.submit "保存する", class: 'btn btn-primary btn-block' %>
      </div>
    </aside>
  </div>
  <% end %>


</div>
