<!-- <head> -->

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <!-- <meta name="description" content="">
  <meta name="author" content=""> -->


<!-- </head> -->

  <div class="top-page-container">
<h1>みんなの投稿</h1>
    <!-- Page Features -->
    <div class="row text-center">

    <% @jiros.each do |jiro| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <%= link_to jiro, class: "card h-100" do %>
          <%= image_tag jiro.picture.url, :size => '245x200' %>
          <div class="card-body">
            <h4 class="card-title">
              <% if jiro.store_id %>
                <%= Store.find_by_id(jiro.store_id)&.name %>
              <% else %>
                <%= "店舗情報なし" %>
              <% end %>
            </h4>
          </div>
          <div class="card-footer">
            <li id="jiro-<%= jiro.id %>" data-jiro-id="<%= jiro.id %>">
               <span class="timestamp">
               </span>

    <!-- 部分テンプレート favoritesファイルの_favorite.html.erbにいき、partial側ではローカル変数jiroでjiroを参照できる。 -->
               <%= render "favorites/favorite", jiro: jiro %>
            </li>
          </div>
          <% end %>
        </div>
    <% end %>
  </div>


    <!-- <div class="row text-center"> -->
      <%= paginate @jiros %>
                  <!-- </div> -->


  </div>
