<!-- <head> -->

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <!-- <meta name="description" content="">
  <meta name="author" content=""> -->


<!-- </head> -->

  <div class="top-page-container">
<h1>みんなの投稿</h1>

<!-- <div class="search_field">
</div> -->
    <!-- Page Features -->
    <div class="row text-center">

    <% @jiros.each do |jiro| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card-body">

        <%= link_to jiro, class: "card" do %>
          <%= image_tag jiro.picture.url, :size => '245x200' %>
            <h4 class="card-title">
              <% if jiro.store_id %>
                <%= Store.find_by_id(jiro.store_id)&.name %>
              <% else %>
                <%= "店舗情報なし" %>
              <% end %>
            </h4>
            <!-- <div class="card-footer"> -->
            <!-- </div> -->

          <!-- </div> -->
          <% end %>
          <%= render partial: 'jiros/jiros', locals: { jiro: jiro } %>
        </div>
        </div>
    <% end %>

  </div>

    <!-- <div class="row text-center"> -->
      <%= paginate @jiros %>
    <!-- </div> -->


  </div>
