<div class="container">
  <div class="row align-items-center justify-content-center">
    <aside class="col-md-6">
      <section class="user_info">
        <h1>
          <% if @user.profile_picture? %>
            <%= image_tag (@user.profile_picture.url) %>
          <% else %>
            <%= image_tag "/assets/default.jpg", :size => '250x250' %>
          <% end %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
    <aside class="col-md-6">
      <%= button_to 'プロフィール編集', profile_edit_path, method: :get, class: "btn btn-primary btn-outline-primary btn-round" %>
    </aside>
  </div>
  <div class="row align-items-center justify-content-center">
    <aside class="col-md-12">
      <span class="introduction"><%= @user.introduction %></span>
    </aside>
  </div>
  <hr width="80%">
  <div class="row select-bar align-items-center justify-content-center">
    <aside class="col-md-12 select-bar">
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a href="#toukou" class="nav-link active" data-toggle="tab">自分の投稿</a>
        </li>
        <li class="nav-item">
          <a href="#okiniiri" class="nav-link" data-toggle="tab">お気に入り</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="toukou">
          <% @jiros.each do |jiro| %>
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card-body">

              <%= link_to jiro, class: "card" do %>
                <%= image_tag jiro.picture.url, :size => '245x200' %>
                  <h4 class="card-title">
                    <% if jiro.store_id %>
                      <%= Store.find_by_id(@jiro.store_id)&.name %>
                    <% else %>
                      <%= "店舗情報なし" %>
                    <% end %>
                  </h4>
                <% end %>
                <%= render partial: 'jiros/jiros', locals: { jiro: jiro } %>
              </div>
              </div>
          <% end %>
        </div>
        <div class="tab-pane" id="okiniiri">
          <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
        </div>
      </div>
    </aside>
  </div>
</div>
