<div class="container">
  <%= form_for @jiro do |f| %>
  <div class="row align-items-center justify-content-center">
    <aside class="col-md-12">
      <div class="view_box">
        <% if @jiro.picture? %>
          <%= image_tag @jiro.picture.url %>
        <% else %>
          <%= image_tag "/assets/ramen.jpg", :size => '400x400' %>
        <% end %>
      </div>
      <% end %>
<div class="table-container">
  <table>
  <tr>
    <th>投稿者</th>
    <td><%= @poster.name %></td>
  </tr>
  <tr>
    <th>店舗</th>
    <td><%= @store.name %></td>
  </tr>
  <tr>
    <th>訪問日時</th>
    <td><%= @jiro.date.strftime("%Y年%m月%d日%H時%M分") %></td>
  </tr>
  <tr>
    <th>並び時間</th>
    <td><%= @jiro.waiting_time.strftime("%-H時間%M分") %></td>
  </tr>
  <tr>
    <th>天気</th>
    <td><%= @jiro.weather %></td>
  </tr>
  <tr>
    <th>コール</th>
    <td><%= @jiro.call %></td>
  </tr>
  <tr>
    <th>スープ</th>
    <td><%= @jiro.soup %></td>
  </tr>
  <tr>
    <th>豚</th>
    <td><%= @jiro.pork %></td>
  </tr>
  <tr>
    <th>感想</th>
    <td><%= @jiro.comment %></td>
  </tr>

</table>
</div>
</aside>
</div>
</div>
