<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>JiroLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- /jQueryを読み込む -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!-- /スクリプトを読み込む -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <aside class="col-md-12">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        </aside>
      </div>

    <%= yield %>

    </div>
    <%= render 'shared/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
